In [2]:
a=float(input())
print(a,type(a))

3.67
3.67 <class 'float'>

### Number System

In [3]:
a=55
print(bin(a),oct(a),hex(a))

0b110111 0o67 0x37

In [5]:
print(int('110111', 2),int('67',8), int('37',16))

55 55 55

In [6]:
print(ord('a'))

97

In [7]:
print(chr(97))

a


### operators in python

- Arthematic -> +,-,*,/,%,//,**
- Logical -> and,or,not
- Comparision/relational -> <,>,<=,.=,==,!=
- Bitwise Operator -> &,|,~,^(XOR),>>(right shift),<<(left shift)
- Assignment operators => +=,-+,/+,%=,//+,**=
- Identity operators-> is, not is
- Membership operators -> in,not in

In [10]:
#arthematic
a=4
b=10
print(a+b ,a-b ,a*b ,a/b ,a%b ,a//b ,a**2 ,end='->')

14 -6 40 0.4 4 0 16->

#logical
### -and(inp 1* inpt 2)

|inp1| inp2|inp1 and inp2|
|----|----|----|
|T|T|T|
|T|F|F|
|F|T|F|
|F|F|F|

## or
|inp1| inp2|inp1 and inp2|
|----|----|----|
|T|T|T|
|T|F|T|
|F|T|T|
|F|F|F|

## not
|inp1| inp2|
|----|----|
|T|F|
|F|T|

In [16]:
a=1
b=0
c='0'
print(a and b,a or b,not a,a and c,not c, sep = '->')

0->1->False->0->False

In [17]:
print(c and a,a or c)

1 1

In [18]:
a=5
b=6
c=0
print(a and b)

6

In [19]:
print(a and c,c and a)

0 0

In [20]:
a=5
b=6
print(a<b,a>b,a==b)

True False False

### Conditional statements
controlling the flow of execution

### syntax
- if
``` python

if condition:
        Block of Code
```

```python
if condition:
    Block of Code
- if-else  
elif condition:
    Block of Code
- else   
else:
    block of code
 ```

- Biggest of 2 number

In [4]:
a=5
b=15
c=8

if a>b and a>c:
    print(a)  # "is the biggest number")
elif b>c:
    print(b) # "b is the biggest number")
else:
    print(c)

15

- check input number is even or not

In [6]:
n=int(input("enter a number:"))
if n%2==0:
    print(n, "is even number")
else:
    print(n,"is odd number")

enter a number:9
9 is odd number

- verify given year is a leap year
- It should by 4 and rem as 0
- It shouldn't be divisible by 100
- divisible by 400

In [8]:
year=int(input("enter a year:"))

if (year%400==0) or (year % 4==0 and year%100!=0):
    print(year,"is a leap year")
else:
    print(year,"is not a leap year")

enter a year:2020
2020 is a leap year

Calculater application
- 2 inputs
- arthematic operation

In [11]:
a=int(input("Enter a number:"))
b=int(input("Enter a number:"))
arth=input("What is the arthmatic I need to perform:  ")

if arth=='+':
    print(a+b)
elif arth=='-':
    print(a-b)
elif arth=='*':
    print(a*b)
else:
    print("given arthematic operation is invalid")
print(a+b)
print(a-b)
print(a*b)

Enter a number:445
Enter a number:234
What is the arthmatic I need to perform:  +
679
679
211
104130

#### Loops in python
execute the block of code for multiple times

- Initialization
- Condition
- inc/dec


### Syntax
- for loop ->How many times I need to execute the loop

```python
for IterativeVariable in SeqOfData:
    Block of Code
```
- While Loop ->Based on the condition
```python

init
while condition:
    Block of Code
    inc/dec
```

## GroupOfNumber
range(intia,cond,inc/dec)
range(start,stop,step)

condition-> required arg
init-> 0
inc/dec-> +1

In [14]:
#display 1 to 100 numbers to the users
for i in range(1,101):
    print(i,end='\t')

1	2	3	4	5	6	7	8	9	10	11	12	13	14	15	16	17	18	19	20	21	22	23	24	25	26	27	28	29	30	31	32	33	34	35	36	37	38	39	40	41	42	43	44	45	46	47	48	49	50	51	52	53	54	55	56	57	58	59	60	61	62	63	64	65	66	67	68	69	70	71	72	73	74	75	76	77	78	79	80	81	82	83	84	85	86	87	88	89	90	91	92	93	94	95	96	97	98	99	100

In [15]:
#display 1 to 100 numbers to the users
for i in range(1,101,3):
    print(i,end='\t')

1	4	7	10	13	16	19	22	25	28	31	34	37	40	43	46	49	52	55	58	61	64	67	70	73	76	79	82	85	88	91	94	97	100

In [28]:
#even numbers between 1 to 1000
for i in range(1,1001):
    if i%2==0:
        print(i,end='\t')

2	4	6	8	10	12	14	16	18	20	22	24	26	28	30	32	34	36	38	40	42	44	46	48	50	52	54	56	58	60	62	64	66	68	70	72	74	76	78	80	82	84	86	88	90	92	94	96	98	100	102	104	106	108	110	112	114	116	118	120	122	124	126	128	130	132	134	136	138	140	142	144	146	148	150	152	154	156	158	160	162	164	166	168	170	172	174	176	178	180	182	184	186	188	190	192	194	196	198	200	202	204	206	208	210	212	214	216	218	220	222	224	226	228	230	232	234	236	238	240	242	244	246	248	250	252	254	256	258	260	262	264	266	268	270	272	274	276	278	280	282	284	286	288	290	292	294	296	298	300	302	304	306	308	310	312	314	316	318	320	322	324	326	328	330	332	334	336	338	340	342	344	346	348	350	352	354	356	358	360	362	364	366	368	370	372	374	376	378	380	382	384	386	388	390	392	394	396	398	400	402	404	406	408	410	412	414	416	418	420	422	424	426	428	430	432	434	436	438	440	442	444	446	448	450	452	454	456	458	460	462	464	466	468	470	472	474	476	478	480	482	484	486	488	490	492	494	496	498	500	502	504	506	508	510	512	514	516	518	520	522	524	526	528	530	532	534	536	538	540	542	544	546	548	550	552	554	556	558	560	562	564	566	568	570	572	574	576	578	580	582	584	586	588	590	592	594	596	598	600	602	604	606	608	610	612	614	616	618	620	622	624	626	628	630	632	634	636	638	640	642	644	646	648	650	652	654	656	658	660	662	664	666	668	670	672	674	676	678	680	682	684	686	688	690	692	694	696	698	700	702	704	706	708	710	712	714	716	718	720	722	724	726	728	730	732	734	736	738	740	742	744	746	748	750	752	754	756	758	760	762	764	766	768	770	772	774	776	778	780	782	784	786	788	790	792	794	796	798	800	802	804	806	808	810	812	814	816	818	820	822	824	826	828	830	832	834	836	838	840	842	844	846	848	850	852	854	856	858	860	862	864	866	868	870	872	874	876	878	880	882	884	886	888	890	892	894	896	898	900	902	904	906	908	910	912	914	916	918	920	922	924	926	928	930	932	934	936	938	940	942	944	946	948	950	952	954	956	958	960	962	964	966	968	970	972	974	976	978	980	982	984	986	988	990	992	994	996	998	1000

1. Get the leap year between the given range
- Starting range ending range is given as input
2. get the prime numbers between the given range
3. get n  number of Fibonacci number

### While loop

In [29]:
i=1
while i<101:
    print(i,end='\t')
    i+=1

1	2	3	4	5	6	7	8	9	10	11	12	13	14	15	16	17	18	19	20	21	22	23	24	25	26	27	28	29	30	31	32	33	34	35	36	37	38	39	40	41	42	43	44	45	46	47	48	49	50	51	52	53	54	55	56	57	58	59	60	61	62	63	64	65	66	67	68	69	70	71	72	73	74	75	76	77	78	79	80	81	82	83	84	85	86	87	88	89	90	91	92	93	94	95	96	97	98	99	100

- break: to terminate the execution of the loop
- continue: skin the current execution of the loop

print the numbers between 1 to 100 whenever I reached 50 stop travelling

In [39]:
for travel in range(1,101,1):
    if travel == 50:
        break
    print(travel, end='\t')

1	2	3	4	5	6	7	8	9	10	11	12	13	14	15	16	17	18	19	20	21	22	23	24	25	26	27	28	29	30	31	32	33	34	35	36	37	38	39	40	41	42	43	44	45	46	47	48	49

In [40]:

while True:
    inp=input()
    if inp=='cancel':
        print("Loop Terminated")
        break
    print(inp)

jdch
jdch
adce
adce
cancel
Loop Terminated

### Strings
it is group of data enclosed between "",'',""""",''''''

### Properties of strings
- It is immutable data type
- It is iterable

In [46]:
s='I am a single line string'
s2="I'm also a string"
s3='''I am
a
multiple
line 
string'''
s4="""I am
a
multiple
line 
string"""
print(type(s),type(s3))
for char in s3:
    print(char,end= '\t')

<class 'str'> <class 'str'>
I	 	a	m
	a
	m	u	l	t	i	p	l	e
	l	i	n	e
	s	t	r	i	n	g

In [47]:
for char in s3:
    print(char,end='\t')

I	 	a	m
	a
	m	u	l	t	i	p	l	e
	l	i	n	e
	s	t	r	i	n	g

In [48]:
s1="""Leap days keep our modern-day Gregorian calendar in alignment with Earth's revolutions around the Sun. It takes Earth approximately 365.242189 days, or 365 days, 5 hours, 48 minutes, and 45 seconds, to circle once around the Sun. This is called a tropical year, and it starts on the March equinox.

However, the Gregorian calendar has only 365 days in a year. If we didn't add a leap day on February 29 almost every four years, each calendar year would begin about 6 hours before the Earth completes its revolution around the Sun (see illustration).
"""
print(s1)

Leap days keep our modern-day Gregorian calendar in alignment with Earth's revolutions around the Sun. It takes Earth approximately 365.242189 days, or 365 days, 5 hours, 48 minutes, and 45 seconds, to circle once around the Sun. This is called a tropical year, and it starts on the March equinox.

However, the Gregorian calendar has only 365 days in a year. If we didn't add a leap day on February 29 almost every four years, each calendar year would begin about 6 hours before the Earth completes its revolution around the Sun (see illustration).

In [57]:
for char in s1:
       print(char,end='\t')

L	e	a	p	 	d	a	y	s	 	k	e	e	p	 	o	u	r	 	m	o	d	e	r	n	-	d	a	y	 	G	r	e	g	o	r	i	a	n	 	c	a	l	e	n	d	a	r	 	i	n	 	a	l	i	g	n	m	e	n	t	 	w	i	t	h	 	E	a	r	t	h	'	s	 	r	e	v	o	l	u	t	i	o	n	s	 	a	r	o	u	n	d	 	t	h	e	 	S	u	n	.	 	I	t	 	t	a	k	e	s	 	E	a	r	t	h	 	a	p	p	r	o	x	i	m	a	t	e	l	y	 	3	6	5	.	2	4	2	1	8	9	 	d	a	y	s	,	 	o	r	 	3	6	5	 	d	a	y	s	,	 	5	 	h	o	u	r	s	,	 	4	8	 	m	i	n	u	t	e	s	,	 	a	n	d	 	4	5	 	s	e	c	o	n	d	s	,	 	t	o	 	c	i	r	c	l	e	 	o	n	c	e	 	a	r	o	u	n	d	 	t	h	e	 	S	u	n	.	 	T	h	i	s	 	i	s	 	c	a	l	l	e	d	 	a	 	t	r	o	p	i	c	a	l	 	y	e	a	r	,	 	a	n	d	 	i	t	 	s	t	a	r	t	s	 	o	n	 	t	h	e	 	M	a	r	c	h	 	e	q	u	i	n	o	x	.

	H	o	w	e	v	e	r	,	 	t	h	e	 	G	r	e	g	o	r	i	a	n	 	c	a	l	e	n	d	a	r	 	h	a	s	 	o	n	l	y	 	3	6	5	 	d	a	y	s	 	i	n	 	a	 	y	e	a	r	.	 	I	f	 	w	e	 	d	i	d	n	'	t	 	a	d	d	 	a	 	l	e	a	p	 	d	a	y	 	o	n	 	F	e	b	r	u	a	r	y	 	2	9	 	a	l	m	o	s	t	 	e	v	e	r	y	 	f	o	u	r	 	y	e	a	r	s	,	 	e	a	c	h	 	c	a	l	e	n	d	a	r	 	y	e	a	r	 	w	o	u	l	d	 	b	e	g	i	n	 	a	b	o	u	t	 	6	 	h	o	u	r	s	 	b	e	f	o	r	e	 	t	h	e	 	E	a	r	t	h	 	c	o	m	p	l	e	t	e	s	 	i	t	s	 	r	e	v	o	l	u	t	i	o	n	 	a	r	o	u	n	d	 	t	h	e	 	S	u	n	 	(	s	e	e	 	i	l	l	u	s	t	r	a	t	i	o	n	)	.

In [59]:
for char in s1:
      if char==='a' or char=='e' or char=='i' or char=='o' or char=='u':
            print(char,end='')

SyntaxError: invalid syntax (<ipython-input-59-af407072f1d7>, line 2)

In [ ]:

lo=0
uo=0
c=0
for char in s1:
    if char in 'aeiou':
        lp+=1
elif char in 'AEIOU':
    uo+=1
else:
    c+=1

### accessing the characters from the string

- Indexing
  - +ve/Forward 
  - -ve/Reverse
- slicing
   - +ve/Forward 
  - -ve/Reverse

In [60]:
print(s1)

Leap days keep our modern-day Gregorian calendar in alignment with Earth's revolutions around the Sun. It takes Earth approximately 365.242189 days, or 365 days, 5 hours, 48 minutes, and 45 seconds, to circle once around the Sun. This is called a tropical year, and it starts on the March equinox.

However, the Gregorian calendar has only 365 days in a year. If we didn't add a leap day on February 29 almost every four years, each calendar year would begin about 6 hours before the Earth completes its revolution around the Sun (see illustration).

In [1]:
print(s1[0],s1[4])

NameError: name 's1' is not defined

In [2]:
print(len(s1))

NameError: name 's1' is not defined

### String slicing
#### syntax

string_var[startingIndex: EndingIndex]

- Default SI -> 0
- Default EI -> Lenght if string -1

In [96]:
s1="""Leap days keep our modern-day Gregorian calendar in alignment with Earth's revolutions around the Sun. It takes Earth approximately 365.242189 days, or 365 days, 5 hours, 48 minutes, and 45 seconds, to circle once around the Sun. This is called a tropical year, and it starts on the March equinox.

However, the Gregorian calendar has only 365 days in a year. If we didn't add a leap day on February 29 almost every four years, each calendar year would begin about 6 hours before the Earth completes its revolution around the Sun (see illustration).
"""
print(s1)
print(s1[0:100]) #first 100 characters
print(len(s1))
print(s1[-100:])

Leap days keep our modern-day Gregorian calendar in alignment with Earth's revolutions around the Sun. It takes Earth approximately 365.242189 days, or 365 days, 5 hours, 48 minutes, and 45 seconds, to circle once around the Sun. This is called a tropical year, and it starts on the March equinox.

However, the Gregorian calendar has only 365 days in a year. If we didn't add a leap day on February 29 almost every four years, each calendar year would begin about 6 hours before the Earth completes its revolution around the Sun (see illustration).

Leap days keep our modern-day Gregorian calendar in alignment with Earth's revolutions around the Su
550
ld begin about 6 hours before the Earth completes its revolution around the Sun (see illustration).

In [8]:
print(s1[0: 10: 3])

Lpa

In [10]:
print(s1[-10: :-2])

tul e(nSetdur otlvrsistlmchrEeteoe ro  ub ie lo ayrdea ce,re ufyeetol 2yare oydpe  d 'dde I.ayan yd53yn a anlcnioeGet,eeo
.oiq ca h osrt ida,aylcpr  elcs iT.u h noaen lrco sncs5 n stnm8 suh5,yd53r sa 82253yeaiopahrEsktt nSetdur niuoe 'ta twtenian anlcnioeGydneo u eksa aL

In [11]:
print(s1[: : -1])

.)noitartsulli ees( nuS eht dnuora noitulover sti setelpmoc htraE eht erofeb sruoh 6 tuoba nigeb dluow raey radnelac hcae ,sraey ruof yreve tsomla 92 yraurbeF no yad pael a dda t'ndid ew fI .raey a ni syad 563 ylno sah radnelac nairogerG eht ,revewoH

.xoniuqe hcraM eht no strats ti dna ,raey laciport a dellac si sihT .nuS eht dnuora ecno elcric ot ,sdnoces 54 dna ,setunim 84 ,sruoh 5 ,syad 563 ro ,syad 981242.563 yletamixorppa htraE sekat tI .nuS eht dnuora snoitulover s'htraE htiw tnemngila ni radnelac nairogerG yad-nredom ruo peek syad paeL

In [12]:
print(s1[: : -1]) #each and second character

.)noitartsulli ees( nuS eht dnuora noitulover sti setelpmoc htraE eht erofeb sruoh 6 tuoba nigeb dluow raey radnelac hcae ,sraey ruof yreve tsomla 92 yraurbeF no yad pael a dda t'ndid ew fI .raey a ni syad 563 ylno sah radnelac nairogerG eht ,revewoH

.xoniuqe hcraM eht no strats ti dna ,raey laciport a dellac si sihT .nuS eht dnuora ecno elcric ot ,sdnoces 54 dna ,setunim 84 ,sruoh 5 ,syad 563 ro ,syad 981242.563 yletamixorppa htraE sekat tI .nuS eht dnuora snoitulover s'htraE htiw tnemngila ni radnelac nairogerG yad-nredom ruo peek syad paeL

### String Methods

In [13]:
s='Apssdc Data science training program'
print(s.upper())

APSSDC DATA SCIENCE TRAINING PROGRAM

In [14]:
print(s.lower())

apssdc data science training program

In [15]:
print(s.swapcase())

aPSSDC dATA SCIENCE TRAINING PROGRAM

In [16]:
su='APSSDC'
s1='python'
sn='3487231'

print(su.isupper(),s1.isupper())

True False

In [19]:
print(s1.islower(),su.islower())

True False

In [20]:
print(su.isdigit(),sn.isdigit())

False True

### Validating Indian Mobile Number


- +91  -> 
- 1- digits ->len()
- 9,8,7,6

In [28]:
n1='+91994738427o'
n2='+65385757'
n3='+919583957385'
n4='+57802759203'

if n1[0]=='+':
    if n1[1:3]=='91' and len(n1[3: ])==10 and n1[3] in '9876':
        print(n1,'is valid mobile number')
    else:
            print(n1,'is valid indian mobile number')
        
elif len(n1[3: ])==10 and n1[3] in '9876' and n1.isdigit():
    print(n1,'is valid mobile number')
    
else:
    print(n1,'is not valid mobile number')

+91994738427o is valid mobile number

In [32]:
rollno='19KQ1A0237'

print(rollno.startswith('19'))

True

In [42]:
email1='tanmayechandana@gmail.com'
email2='tanmayee_chandanam@srmap.edu.in'
print(email1.endswith('gmail.com'))

True

In [45]:
email='tanmayee_chandanam@srmap.edu.in'
email3='manisha_pandey@gmail.com'
print(email.index('@'))
print(email[0:11])
print(email3[0: email2.index('@')])

18
tanmayee_ch
manisha_pandey@gma

In [46]:
email='tanmayee_chandanam@srmap.edu.in'
email3='manisha_pandey@gmail.com'
email4='vinutha_rayapudi@gmail.com'

email3[email3.index('@') + 1:email3.index('.')]

'gmail'

In [47]:
help(str.index)

Help on method_descriptor:

index(...)
    S.index(sub[, start[, end]]) -> int

    Return the lowest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Raises ValueError when the substring is not found.

In [55]:
email='tanmayee@gmail@in'
print(email.index('@'))

8

In [53]:
email='tanmayee@gmail'
print(email.index('@',5))

8

In [56]:
print(email.count('a'))

3

In [57]:
print(email.count('@'))

2

In [59]:
s='  APSSDC python   '
print(s.lstrip(),s.rstrip(),s.strip())

APSSDC python      APSSDC python APSSDC python

In [60]:
s='((((APSSDC Python))))'

print(s.lstrip('('),s.rstrip(')'),s.strip('()'))

APSSDC Python)))) ((((APSSDC Python APSSDC Python

In [61]:
s='((((([[[[{{{{{{cleaned data}}}}}}]]]])))))'

print(s.strip('([{}])'))

cleaned data

In [63]:
s1="""Leap days keep our modern-day Gregorian calendar in alignment with Earth's revolutions around the Sun. It takes Earth approximately 365.242189 days, or 365 days, 5 hours, 48 minutes, and 45 seconds, to circle once around the Sun. This is called a tropical year, and it starts on the March equinox.

However, the Gregorian calendar has only 365 days in a year. If we didn't add a leap day on February 29 almost every four years, each calendar year would begin about 6 hours before the Earth completes its revolution around the Sun (see illustration).
"""
print(s1)

Leap days keep our modern-day Gregorian calendar in alignment with Earth's revolutions around the Sun. It takes Earth approximately 365.242189 days, or 365 days, 5 hours, 48 minutes, and 45 seconds, to circle once around the Sun. This is called a tropical year, and it starts on the March equinox.

However, the Gregorian calendar has only 365 days in a year. If we didn't add a leap day on February 29 almost every four years, each calendar year would begin about 6 hours before the Earth completes its revolution around the Sun (see illustration).

In [64]:
print(s1.split('\n'))

["Leap days keep our modern-day Gregorian calendar in alignment with Earth's revolutions around the Sun. It takes Earth approximately 365.242189 days, or 365 days, 5 hours, 48 minutes, and 45 seconds, to circle once around the Sun. This is called a tropical year, and it starts on the March equinox.", '', "However, the Gregorian calendar has only 365 days in a year. If we didn't add a leap day on February 29 almost every four years, each calendar year would begin about 6 hours before the Earth completes its revolution around the Sun (see illustration).", '']

In [66]:
print(s1.split('.'))

sen=s1.split('.')

["Leap days keep our modern-day Gregorian calendar in alignment with Earth's revolutions around the Sun", ' It takes Earth approximately 365', '242189 days, or 365 days, 5 hours, 48 minutes, and 45 seconds, to circle once around the Sun', ' This is called a tropical year, and it starts on the March equinox', '\n\nHowever, the Gregorian calendar has only 365 days in a year', " If we didn't add a leap day on February 29 almost every four years, each calendar year would begin about 6 hours before the Earth completes its revolution around the Sun (see illustration)", '\n']

In [67]:
'.'.join(sen)

"Leap days keep our modern-day Gregorian calendar in alignment with Earth's revolutions around the Sun. It takes Earth approximately 365.242189 days, or 365 days, 5 hours, 48 minutes, and 45 seconds, to circle once around the Sun. This is called a tropical year, and it starts on the March equinox.\n\nHowever, the Gregorian calendar has only 365 days in a year. If we didn't add a leap day on February 29 almost every four years, each calendar year would begin about 6 hours before the Earth completes its revolution around the Sun (see illustration).\n"

In [68]:
'********'.join(sen)

"Leap days keep our modern-day Gregorian calendar in alignment with Earth's revolutions around the Sun******** It takes Earth approximately 365********242189 days, or 365 days, 5 hours, 48 minutes, and 45 seconds, to circle once around the Sun******** This is called a tropical year, and it starts on the March equinox********\n\nHowever, the Gregorian calendar has only 365 days in a year******** If we didn't add a leap day on February 29 almost every four years, each calendar year would begin about 6 hours before the Earth completes its revolution around the Sun (see illustration)********\n"

In [69]:
print(s1.replace(' ','-'))

Leap-days-keep-our-modern-day-Gregorian-calendar-in-alignment-with-Earth's-revolutions-around-the-Sun.-It-takes-Earth-approximately-365.242189-days,-or-365-days,-5-hours,-48-minutes,-and-45-seconds,-to-circle-once-around-the-Sun.-This-is-called-a-tropical-year,-and-it-starts-on-the-March-equinox.

However,-the-Gregorian-calendar-has-only-365-days-in-a-year.-If-we-didn't-add-a-leap-day-on-February-29-almost-every-four-years,-each-calendar-year-would-begin-about-6-hours-before-the-Earth-completes-its-revolution-around-the-Sun-(see-illustration).

In [70]:
print(s1.title())

Leap Days Keep Our Modern-Day Gregorian Calendar In Alignment With Earth'S Revolutions Around The Sun. It Takes Earth Approximately 365.242189 Days, Or 365 Days, 5 Hours, 48 Minutes, And 45 Seconds, To Circle Once Around The Sun. This Is Called A Tropical Year, And It Starts On The March Equinox.

However, The Gregorian Calendar Has Only 365 Days In A Year. If We Didn'T Add A Leap Day On February 29 Almost Every Four Years, Each Calendar Year Would Begin About 6 Hours Before The Earth Completes Its Revolution Around The Sun (See Illustration).

In [71]:
print(s1.capitalize())

Leap days keep our modern-day gregorian calendar in alignment with earth's revolutions around the sun. it takes earth approximately 365.242189 days, or 365 days, 5 hours, 48 minutes, and 45 seconds, to circle once around the sun. this is called a tropical year, and it starts on the march equinox.

however, the gregorian calendar has only 365 days in a year. if we didn't add a leap day on february 29 almost every four years, each calendar year would begin about 6 hours before the earth completes its revolution around the sun (see illustration).

In [72]:
print(s1.istitle())

False

In [73]:
print(s1.casefold())

leap days keep our modern-day gregorian calendar in alignment with earth's revolutions around the sun. it takes earth approximately 365.242189 days, or 365 days, 5 hours, 48 minutes, and 45 seconds, to circle once around the sun. this is called a tropical year, and it starts on the march equinox.

however, the gregorian calendar has only 365 days in a year. if we didn't add a leap day on february 29 almost every four years, each calendar year would begin about 6 hours before the earth completes its revolution around the sun (see illustration).

In [74]:
s='Python Programming'

print(s.istitle())

True

In [75]:
certificate="I'm Certify that {} from Institute, on program,from Date".format('Tanmayee')

print(certificate)

I'm Certify that Tanmayee from Institute, on program,from Date

In [78]:
print("I'm Certify that {} from Institute, on program,from Date{}".format('Tanmayee','01-June'))

I'm Certify that Tanmayee from Institute, on program,from Date01-June

In [79]:
print("I'm Certify that {0} from Institute, on program,form {1}, {0} perform is excellent".format('Tanmayee','01-June'))

I'm Certify that Tanmayee from Institute, on program,form 01-June, Tanmayee perform is excellent

In [81]:
s='asdfg'
s3='asd456'
print(s.isalpha(),s3.isalnum())

True True

In [82]:
s4='ajasnd kjsd'
print(s4.isalnum())

False

In [83]:
s1="""Leap days keep our modern-day Gregorian calendar in alignment with Earth's revolutions around the Sun. It takes Earth approximately 365.242189 days, or 365 days, 5 hours, 48 minutes, and 45 seconds, to circle once around the Sun. This is called a tropical year, and it starts on the March equinox.

However, the Gregorian calendar has only 365 days in a year. If we didn't add a leap day on February 29 almost every four years, each calendar year would begin about 6 hours before the Earth completes its revolution around the Sun (see illustration).
"""

In [85]:
for char in s1:
    print(char, end='\t')

L	e	a	p	 	d	a	y	s	 	k	e	e	p	 	o	u	r	 	m	o	d	e	r	n	-	d	a	y	 	G	r	e	g	o	r	i	a	n	 	c	a	l	e	n	d	a	r	 	i	n	 	a	l	i	g	n	m	e	n	t	 	w	i	t	h	 	E	a	r	t	h	'	s	 	r	e	v	o	l	u	t	i	o	n	s	 	a	r	o	u	n	d	 	t	h	e	 	S	u	n	.	 	I	t	 	t	a	k	e	s	 	E	a	r	t	h	 	a	p	p	r	o	x	i	m	a	t	e	l	y	 	3	6	5	.	2	4	2	1	8	9	 	d	a	y	s	,	 	o	r	 	3	6	5	 	d	a	y	s	,	 	5	 	h	o	u	r	s	,	 	4	8	 	m	i	n	u	t	e	s	,	 	a	n	d	 	4	5	 	s	e	c	o	n	d	s	,	 	t	o	 	c	i	r	c	l	e	 	o	n	c	e	 	a	r	o	u	n	d	 	t	h	e	 	S	u	n	.	 	T	h	i	s	 	i	s	 	c	a	l	l	e	d	 	a	 	t	r	o	p	i	c	a	l	 	y	e	a	r	,	 	a	n	d	 	i	t	 	s	t	a	r	t	s	 	o	n	 	t	h	e	 	M	a	r	c	h	 	e	q	u	i	n	o	x	.

	H	o	w	e	v	e	r	,	 	t	h	e	 	G	r	e	g	o	r	i	a	n	 	c	a	l	e	n	d	a	r	 	h	a	s	 	o	n	l	y	 	3	6	5	 	d	a	y	s	 	i	n	 	a	 	y	e	a	r	.	 	I	f	 	w	e	 	d	i	d	n	'	t	 	a	d	d	 	a	 	l	e	a	p	 	d	a	y	 	o	n	 	F	e	b	r	u	a	r	y	 	2	9	 	a	l	m	o	s	t	 	e	v	e	r	y	 	f	o	u	r	 	y	e	a	r	s	,	 	e	a	c	h	 	c	a	l	e	n	d	a	r	 	y	e	a	r	 	w	o	u	l	d	 	b	e	g	i	n	 	a	b	o	u	t	 	6	 	h	o	u	r	s	 	b	e	f	o	r	e	 	t	h	e	 	E	a	r	t	h	 	c	o	m	p	l	e	t	e	s	 	i	t	s	 	r	e	v	o	l	u	t	i	o	n	 	a	r	o	u	n	d	 	t	h	e	 	S	u	n	 	(	s	e	e	 	i	l	l	u	s	t	r	a	t	i	o	n	)	.

In [87]:
for char in s1:
    if char.isalpha():
         print(char, end='\t')

L	e	a	p	d	a	y	s	k	e	e	p	o	u	r	m	o	d	e	r	n	d	a	y	G	r	e	g	o	r	i	a	n	c	a	l	e	n	d	a	r	i	n	a	l	i	g	n	m	e	n	t	w	i	t	h	E	a	r	t	h	s	r	e	v	o	l	u	t	i	o	n	s	a	r	o	u	n	d	t	h	e	S	u	n	I	t	t	a	k	e	s	E	a	r	t	h	a	p	p	r	o	x	i	m	a	t	e	l	y	d	a	y	s	o	r	d	a	y	s	h	o	u	r	s	m	i	n	u	t	e	s	a	n	d	s	e	c	o	n	d	s	t	o	c	i	r	c	l	e	o	n	c	e	a	r	o	u	n	d	t	h	e	S	u	n	T	h	i	s	i	s	c	a	l	l	e	d	a	t	r	o	p	i	c	a	l	y	e	a	r	a	n	d	i	t	s	t	a	r	t	s	o	n	t	h	e	M	a	r	c	h	e	q	u	i	n	o	x	H	o	w	e	v	e	r	t	h	e	G	r	e	g	o	r	i	a	n	c	a	l	e	n	d	a	r	h	a	s	o	n	l	y	d	a	y	s	i	n	a	y	e	a	r	I	f	w	e	d	i	d	n	t	a	d	d	a	l	e	a	p	d	a	y	o	n	F	e	b	r	u	a	r	y	a	l	m	o	s	t	e	v	e	r	y	f	o	u	r	y	e	a	r	s	e	a	c	h	c	a	l	e	n	d	a	r	y	e	a	r	w	o	u	l	d	b	e	g	i	n	a	b	o	u	t	h	o	u	r	s	b	e	f	o	r	e	t	h	e	E	a	r	t	h	c	o	m	p	l	e	t	e	s	i	t	s	r	e	v	o	l	u	t	i	o	n	a	r	o	u	n	d	t	h	e	S	u	n	s	e	e	i	l	l	u	s	t	r	a	t	i	o	n

In [89]:
for char in s1:
    if char.isdigit():        #if we want to get digits in given text
           print(char, end='\t')

3	6	5	2	4	2	1	8	9	3	6	5	5	4	8	4	5	3	6	5	2	9	6

In [90]:
for char in s1:
    if char in 'AEIOUaeiou':
             print(char, end='\t')

e	a	a	e	e	o	u	o	e	a	e	o	i	a	a	e	a	i	a	i	e	i	E	a	e	o	u	i	o	a	o	u	e	u	I	a	e	E	a	a	o	i	a	e	a	o	a	o	u	i	u	e	a	e	o	o	i	e	o	e	a	o	u	e	u	i	i	a	e	a	o	i	a	e	a	a	i	a	o	e	a	e	u	i	o	o	e	e	e	e	o	i	a	a	e	a	a	o	a	i	a	e	a	I	e	i	a	a	e	a	a	o	e	u	a	a	o	e	e	o	u	e	a	e	a	a	e	a	e	a	o	u	e	i	a	o	u	o	u	e	o	e	e	E	a	o	e	e	i	e	o	u	i	o	a	o	u	e	u	e	e	i	u	a	i	o

In [92]:
ac=0
nc=0
sc=0
for char in s1:
    if char.isalpha():
        ac+=1
    elif char.isdigit():
            nc+=1
    else:
                sc+=1
                print('Alpha',ac,'Digits',nc,"Special Charac",sc)

Alpha 4 Digits 0 Special Charac 1
Alpha 8 Digits 0 Special Charac 2
Alpha 12 Digits 0 Special Charac 3
Alpha 15 Digits 0 Special Charac 4
Alpha 21 Digits 0 Special Charac 5
Alpha 24 Digits 0 Special Charac 6
Alpha 33 Digits 0 Special Charac 7
Alpha 41 Digits 0 Special Charac 8
Alpha 43 Digits 0 Special Charac 9
Alpha 52 Digits 0 Special Charac 10
Alpha 56 Digits 0 Special Charac 11
Alpha 61 Digits 0 Special Charac 12
Alpha 62 Digits 0 Special Charac 13
Alpha 73 Digits 0 Special Charac 14
Alpha 79 Digits 0 Special Charac 15
Alpha 82 Digits 0 Special Charac 16
Alpha 85 Digits 0 Special Charac 17
Alpha 85 Digits 0 Special Charac 18
Alpha 87 Digits 0 Special Charac 19
Alpha 92 Digits 0 Special Charac 20
Alpha 97 Digits 0 Special Charac 21
Alpha 110 Digits 0 Special Charac 22
Alpha 110 Digits 3 Special Charac 23
Alpha 110 Digits 9 Special Charac 24
Alpha 114 Digits 9 Special Charac 25
Alpha 114 Digits 9 Special Charac 26
Alpha 116 Digits 9 Special Charac 27
Alpha 116 Digits 12 Special Charac 28
Alpha 120 Digits 12 Special Charac 29
Alpha 120 Digits 12 Special Charac 30
Alpha 120 Digits 13 Special Charac 31
Alpha 125 Digits 13 Special Charac 32
Alpha 125 Digits 13 Special Charac 33
Alpha 125 Digits 15 Special Charac 34
Alpha 132 Digits 15 Special Charac 35
Alpha 132 Digits 15 Special Charac 36
Alpha 135 Digits 15 Special Charac 37
Alpha 135 Digits 17 Special Charac 38
Alpha 142 Digits 17 Special Charac 39
Alpha 142 Digits 17 Special Charac 40
Alpha 144 Digits 17 Special Charac 41
Alpha 150 Digits 17 Special Charac 42
Alpha 154 Digits 17 Special Charac 43
Alpha 160 Digits 17 Special Charac 44
Alpha 163 Digits 17 Special Charac 45
Alpha 166 Digits 17 Special Charac 46
Alpha 166 Digits 17 Special Charac 47
Alpha 170 Digits 17 Special Charac 48
Alpha 172 Digits 17 Special Charac 49
Alpha 178 Digits 17 Special Charac 50
Alpha 179 Digits 17 Special Charac 51
Alpha 187 Digits 17 Special Charac 52
Alpha 191 Digits 17 Special Charac 53
Alpha 191 Digits 17 Special Charac 54
Alpha 194 Digits 17 Special Charac 55
Alpha 196 Digits 17 Special Charac 56
Alpha 202 Digits 17 Special Charac 57
Alpha 204 Digits 17 Special Charac 58
Alpha 207 Digits 17 Special Charac 59
Alpha 212 Digits 17 Special Charac 60
Alpha 219 Digits 17 Special Charac 61
Alpha 219 Digits 17 Special Charac 62
Alpha 219 Digits 17 Special Charac 63
Alpha 226 Digits 17 Special Charac 64
Alpha 226 Digits 17 Special Charac 65
Alpha 229 Digits 17 Special Charac 66
Alpha 238 Digits 17 Special Charac 67
Alpha 246 Digits 17 Special Charac 68
Alpha 249 Digits 17 Special Charac 69
Alpha 253 Digits 17 Special Charac 70
Alpha 253 Digits 20 Special Charac 71
Alpha 257 Digits 20 Special Charac 72
Alpha 259 Digits 20 Special Charac 73
Alpha 260 Digits 20 Special Charac 74
Alpha 264 Digits 20 Special Charac 75
Alpha 264 Digits 20 Special Charac 76
Alpha 266 Digits 20 Special Charac 77
Alpha 268 Digits 20 Special Charac 78
Alpha 272 Digits 20 Special Charac 79
Alpha 273 Digits 20 Special Charac 80
Alpha 276 Digits 20 Special Charac 81
Alpha 277 Digits 20 Special Charac 82
Alpha 281 Digits 20 Special Charac 83
Alpha 284 Digits 20 Special Charac 84
Alpha 286 Digits 20 Special Charac 85
Alpha 294 Digits 20 Special Charac 86
Alpha 294 Digits 22 Special Charac 87
Alpha 300 Digits 22 Special Charac 88
Alpha 305 Digits 22 Special Charac 89
Alpha 309 Digits 22 Special Charac 90
Alpha 314 Digits 22 Special Charac 91
Alpha 314 Digits 22 Special Charac 92
Alpha 318 Digits 22 Special Charac 93
Alpha 326 Digits 22 Special Charac 94
Alpha 330 Digits 22 Special Charac 95
Alpha 335 Digits 22 Special Charac 96
Alpha 340 Digits 22 Special Charac 97
Alpha 345 Digits 22 Special Charac 98
Alpha 345 Digits 23 Special Charac 99
Alpha 350 Digits 23 Special Charac 100
Alpha 356 Digits 23 Special Charac 101
Alpha 359 Digits 23 Special Charac 102
Alpha 364 Digits 23 Special Charac 103
Alpha 373 Digits 23 Special Charac 104
Alpha 376 Digits 23 Special Charac 105
Alpha 386 Digits 23 Special Charac 106
Alpha 392 Digits 23 Special Charac 107
Alpha 395 Digits 23 Special Charac 108
Alpha 398 Digits 23 Special Charac 109
Alpha 398 Digits 23 Special Charac 110
Alpha 401 Digits 23 Special Charac 111
Alpha 413 Digits 23 Special Charac 112
Alpha 413 Digits 23 Special Charac 113
Alpha 413 Digits 23 Special Charac 114

- sum of the digits in the string
- sum of the even digits and odd digits in the string

### lists
it is used to stored the non-homogenenous grp of valid datatypes in python

### Properties
- it is declared as []
- list mutable data types
- list is an ordered data
- it is iterable

In [93]:
li=[]

li2=list()

In [94]:
print(type(li),type(li2))

<class 'list'> <class 'list'>

In [95]:
li=[1,5.5,5,5+6j,'python',[1,2,3,]]
print(li)

[1, 5.5, 5, (5+6j), 'python', [1, 2, 3]]

### Day 09 Lists and Tuples in Python

- Accesing Element of list
   - Indexing
   - Slicing
 - List methods
 - Tuples

In [1]:
li = [1,2,5,4,8,85]

In [4]:
 print(len(li), max(li), min(li), sum(li)) #sum is predefined function

6 85 1 105

In [5]:
li2 = [1,2,5,4,8,85,'python']

print(len(li2))
print(min(li2))

7

TypeError: '<' not supported between instances of 'str' and 'int'

### Acessing Elements from the list

- Indexing 
    - +ve
    - -ve
 - Slicing
    - +ve
    - -ve

In [6]:
print(li[0])

1

In [7]:
print(li[5])

85

In [8]:
print(li[-2])

8

In [9]:
print(li[-6])

1

In [10]:
print(li[7]) #out of range so it is called index error

IndexError: list index out of range

In [11]:
print(li[1.2])#if we pass floating value then we will get Type error

TypeError: list indices must be integers or slices, not float

In [13]:
print(li[0:1],li[0:2],li[:2],li[0:])

[1] [1, 2] [1, 2] [1, 2, 5, 4, 8, 85]

In [15]:
print(li[-2:])

[8, 85]

In [16]:
print(li[:  2:-1])

[85, 8, 4]

In [17]:
print(li[: :2])

[1, 5, 8]

In [18]:
print(li[: :-2])

[85, 4, 2]

In [19]:
li2 = [1,2,5,4,8,85,'python']
print(len(li2))

7

In [20]:
print(li2[0],li2[5])

1 85

In [21]:
print(li2[-1],li[-2])

python 8

In [25]:
print(li2[-1].upper())

PYTHON

In [26]:
print(li2[-1].strip())

python

In [28]:
print(li[0:5],li2[ :5])

[1, 2, 5, 4, 8] [1, 2, 5, 4, 8]

In [29]:
print(li2[-3:])

[8, 85, 'python']

In [30]:
print(li2[0: :2]) #prints every second element

[1, 5, 8, 'python']

In [31]:
print(li2[: :-2])

['python', 8, 5, 1]

In [32]:
matrix=[[1,2,3],[4,5,6],[6,7,8,]]
print(matrix)

[[1, 2, 3], [4, 5, 6], [6, 7, 8]]

In [34]:
print(matrix[0][0])

1

In [35]:
print(matrix[1][1])

5

In [36]:
print(matrix[0][-2:])

[2, 3]

In [37]:
print(matrix[1][::-1])

[6, 5, 4]

In [39]:
print(len(matrix[2]),max(matrix[2]))

3 8

In [40]:
matrix

[[1, 2, 3], [4, 5, 6], [6, 7, 8]]

In [41]:
for ele in matrix:
    print(ele)

[1, 2, 3]
[4, 5, 6]
[6, 7, 8]

In [42]:
for ele in matrix:
    print(ele[1])

2
5
7

In [43]:
print(matrix[:][1])

[4, 5, 6]

In [44]:
print(matrix[:],matrix[:][2])

[[1, 2, 3], [4, 5, 6], [6, 7, 8]] [6, 7, 8]

In [45]:
for ele in matrix:
    print(ele[1:])
for ele in matrix:
    print(ele[1],ele[2])

[2, 3]
[5, 6]
[7, 8]
2 3
5 6
7 8

In [46]:
empty=[]

In [47]:
empty.append(5)
empty.append(55)
empty.append([1,2,3])
print(empty)

[5, 55, [1, 2, 3]]

In [48]:
for i in range(5):
    empty.append(input("Enter elements to add to list:"))

Enter elements to add to list:4
Enter elements to add to list:56
Enter elements to add to list:43
Enter elements to add to list:5
Enter elements to add to list:3

In [49]:
 print(empty)

[5, 55, [1, 2, 3], '4', '56', '43', '5', '3']

In [ ]:
a=['a']
for i in a:
    a.append(i.upper())
print(a)

In [51]:
li3=[5,6,3,42,423,69,325]
li3.sort()
print(li3)

[3, 5, 6, 42, 69, 325, 423]

## Tuples

- Storing the group of non-homogeneous group of data
- Is created using()
- It is immutable
- It is iterable
- it is ordered

In [60]:
t1=()
t2=tuple()

In [61]:
t1=(1,2,3,'Python',(1,2,3),[1,2,3])
print(t1[0],t1[-1],t1[2],t1[-2])
print(len(t1))

1 [1, 2, 3] 3 (1, 2, 3)
6

In [62]:
print(t1[0],t1[-1],t1[2],t1[-2])

1 [1, 2, 3] 3 (1, 2, 3)

In [63]:
print(t1.count(1))

1

In [64]:
print(t1.index('python'))

ValueError: tuple.index(x): x not in tuple

### Sets 
- It is used for storing non-homogeneous group of unique data on python


### Properties
- `{}` for storing the data comma seperated 
- it is mutable datatype
- It is unordered
- we cannot acess the data using indexing method
- it is iteratable
- it does not allow duplicate data

In [1]:
s1=set()
print(type(s1))

<class 'set'>

In [2]:
s1={2,1,5,6,'apssdc','python',2.55,56,0.26,0.10}
print(type(s1))

<class 'set'>

In [3]:
print(s1)

{0.26, 1, 2, 2.55, 0.1, 5, 6, 'python', 56, 'apssdc'}

In [4]:
s2={4,8,4,25,8}
print(s2)

{8, 25, 4}

In [5]:
st='''Python is an interpreted high-level general-purpose programming language. Python's design philosophy emphasizes code readability with its notable use of significant indentation. Wikipedia
Developer: Python Software Foundation
Stable release: 3.9.5 / 3 May 2021; 29 days ago
Preview release: 3.10.0b1 / 3 May 2021; 29 days ago
Typing discipline: Duck, dynamic, strong typing; gradual (since 3.5, but ignored in CPython)
First appeared: February 1991; 30 years ago
Paradigm: Multi-paradigm: object-oriented, procedural (imperative), functional, structured, reflective'''

In [9]:
c={}
for char in st:
    c[char]=st.count(char)
    
print(c)

{'P': 6, 'y': 15, 't': 28, 'h': 10, 'o': 25, 'n': 29, ' ': 67, 'i': 39, 's': 20, 'a': 38, 'e': 48, 'r': 29, 'p': 17, 'd': 19, 'g': 18, '-': 4, 'l': 17, 'v': 5, 'u': 13, 'm': 7, '.': 7, "'": 1, 'z': 1, 'c': 11, 'b': 7, 'w': 3, 'f': 5, 'W': 1, 'k': 2, '\n': 6, 'D': 2, ':': 7, 'S': 2, 'F': 3, '3': 6, '9': 5, '5': 2, '/': 2, 'M': 3, '2': 6, '0': 5, '1': 6, ';': 4, 'T': 1, ',': 7, '(': 2, 'C': 1, ')': 2, 'j': 1}

In [11]:
print(len(st))

565

In [12]:
s3=set(st)

print(s3)

{'v', 'p', 'c', '5', 'a', 'j', 'k', '3', 'P', 'i', 't', '-', '0', 'z', ':', ';', 'S', '\n', '2', '(', 'o', 'D', 'F', 'b', 'r', 'y', ')', 'T', '.', 'M', 'm', 'W', 'e', ' ', 'h', 'w', "'", 'n', '1', 'C', '9', 'd', 'f', 'l', ',', 'g', 'u', 's', '/'}