In [2]:
print("Hello World")

Hello World

In [6]:
print("Today\'s date is July",11)

Today's date is July 11

In [7]:
print("Today\'s date is July",11,sep='-')

Today's date is July-11

In [8]:
print(14,7,89,sep='\t')

14	7	89

In [9]:
print(14,7,89,sep='abc')

14abc7abc89

## Variables
- It is the named memory location wich holds some value

### Properties of declaring a variable
- It can contain AZaz09
- It shouldn't start with a number
- No special character should include in variable name except_
- Keywords are not allowed 
- Case Sensitive

In [10]:
a = 55
b = 55.66
c = 5 + 6j
d = True
e = 'a+5/.,;'
f = ['python', 65, 5+6j, 55.665]
g = ('python', 65, 5+6j, 55.665)
h = {'Name': 'Python'}
i = {1,2,3,4}

In [11]:
print(type(a))

<class 'int'>

In [12]:
print(type(c),type(i))

<class 'complex'> <class 'set'>

In [13]:
a=input()

786

In [14]:
print(type(a))

<class 'str'>

In [16]:
b=input()

[1,2,3]

In [17]:
print(type(b))

<class 'str'>

## Type Conversions

In [18]:
a=int(input())

print(a,type(a))

123
123 <class 'int'>

In [20]:
b=float(input())

print(b,type(b))

45.8
45.8 <class 'float'>

## Number System
- Decimal ->10 ->0-9
- Binary ->2 ->0,1
- Octal ->8 ->0-7
- Hexadecimal ->16 ->0-F

In [21]:
a=44
print(bin(a),oct(a),hex(a))

0b101100 0o54 0x2c

In [5]:
print(int('101100', 2), int('54',8), int('2c',16))

44 44 44

In [7]:
print(ord('a'))

97

In [8]:
print(ord('e'))

101

In [9]:
print(chr(101))

e

### Operators in Python
- Arthematic operators-> +,-,*,/,%,//,**
- Logical->and,or,not
- Comparision/relational-> <,>,<=,>=,==,!=
- Bitwise Operator -> &(and), |(or), ~(Not), ^(XOR), >>(right shift), <<(left shift)
- Assignment Operator -> +=, -=, /=, %=, //=, **=
- Identity operators -> is, not is
- Membership operators -> in, not in

In [13]:
a=56
b=98

print(a+b,a-b,a*b,a//b,a%b,a**2, sep="->")

154->-42->5488->0->56->3136

## and(inp1 * inp2)

|inp1| inp 2|inp1 and inp2|
|----|----|----|
|T|T|T|
|T|F|F|
|F|T|F|
|F|F|F|


## or(inp1+inp2)
|inp1| inp 2|inp1 and inp2|
|----|----|----|
|T|T|T|
|T|F|T|
|F|T|T|
|F|F|F|


## not
|inp1|not inp1|
|----|----|
|F|T|
|T|F|

In [16]:
a=1
b=0
c='0'

print(a and b,a or b,not b,a and c,not c,sep='->')

0->1->True->0->False

In [18]:
print(c and a, a or c) #here the value of c is true as well as a

1 1

In [19]:
a = 5
b = 6

print(a < b, a>b, a == b)

True False False

In [20]:
a = 4
b = 10

print(a & b, a | b, ~a)

0 14 -5

In [21]:
a = 5

a = a + 10
print(a)
a += 10
print(a)
a -= 5
print(a)
a **= 2
print(a)

15
25
20
400

## Membership Operators

In [22]:
a=9
b=4.6
c=3
d=[1,2,3]
e=[1,2,3]
f=d

In [23]:
print(f)

[1, 2, 3]

In [24]:
print(a==b,d==e,f==d)

False True True

In [28]:
print(id(a)) ## gives us the memory address or location of a particular  variable
print(id(b))
print(id(c))
print(id(d))
print(id(e))
print(id(f))

140710442800192
2044927985080
140710442800000
2044927855624
2044927855176
2044927855624

In [29]:
d.append('Python')
print(d)

[1, 2, 3, 'Python']